name: Build Windows Binary

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install Lazarus
      run: |
        Invoke-WebRequest -Uri "https://sourceforge.net/projects/lazarus/files/Lazarus%20Windows%2064%20bits/Lazarus%203.6/FPCSetup360.exe/download" -OutFile "FPCSetup.exe"
        Start-Process -FilePath "FPCSetup.exe" -ArgumentList "/VERYSILENT", "/NORESTART" -Wait
        Invoke-WebRequest -Uri "https://sourceforge.net/projects/lazarus/files/Lazarus%20Windows%2064%20bits/Lazarus%203.6/lazarus-3.6-fpc-3.2.2-win64.exe/download" -OutFile "LazarusSetup.exe"
        Start-Process -FilePath "LazarusSetup.exe" -ArgumentList "/VERYSILENT", "/NORESTART" -Wait

    - name: Compile Project
      run: |
        $env:Path += ";C:\Lazarus"
        lazbuild --build-mode=release --widgetset=win32 transgui.lpi

    - name: Upload Binary
      uses: actions/upload-artifact@v4
      with:
        name: windows-binary
        path: ./*.exe
